<header
    class="s-page-header {% if section.extra.animate or (not section.extra and page.extra.animate) %} s-page-header--animate{% endif %}"
>
    <h1
        class="s-page-header__title{% if section.extra.gradient_title or (not section.extra and page.extra.gradient_title) %} s-page-header__title--gradient{% endif %}"
    >
        {% if section.title %}
            {{ section.title }}
        {% elif page.title %}
            {{ page.title }}
        {% endif %}
    </h1>
    {% if section.description %}
    <div class="s-page-header__description">
        {{ section.description | markdown | safe }}
    </div>
    {% elif page.description %}
    <div class="s-page-header__description">
        {{ page.description | markdown | safe }}
    </div>
    {% endif %}
</header>
