{% extends "base.html" %} {% block content %}
<div class="p-contact">
    <div class="o-container o-container--content">
        <header class="p-contact__header">
            <h1 class="p-contact__header-title">{{ page.title }}</h1>
            {% if page.description %}
            <div class="p-contact__header-text">
                {{ page.description | markdown | safe }}
            </div>
            {% endif %}
        </header>

        <div class="p-contact__methods">
            {% for method in config.extra.contact_methods %}
            <div class="p-contact__methods-item">
                <h2>{{ method.name }}</h2>

                {% if method.type == "email" %}
                <a href="mailto:{{ method.value }}" class="contact-link">
                    {{ method.value }}
                </a>
                {% elif method.type == "social" %}
                <a
                    href="{{ method.value }}"
                    class="contact-link"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    {{ method.display_value | default(value=method.value) }}
                </a>
                {% endif %} {% if method.description %}
                <p>{{ method.description }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {{ page.content | safe }}
    </div>
</div>
{% endblock %}
