{% extends "base.html" %} {% block content %}
<article class="p-page{% if page.extra.animate %} p-page--animate{% endif %}">
    <div class="o-container o-container--content">
        <!-- Header -->
        {% include "partials/page-header.html" %}

        <div class="c-content">{{ page.content | safe }}</div>
    </div>
</article>

<!-- CTA Section -->
{% if page.extra.cta and page.extra.cta.enabled %} {% set cta = page.extra.cta
%} {% include "partials/cta.html" %} {% endif %} {% endblock %}
