{% import "macros/layouts.html" as layouts %} {% extends "base.html" %} {% block
content %}
<article class="p-page{% if page.extra.animate %} p-page--animate{% endif %}">
    <div class="o-container o-container--content">
        <!-- Header -->
        {{ layouts::page_header(title=page.title, description=page.description,
        gradient=true, animate=true)}}

        <div class="c-content">{{ page.content | safe }}</div>
    </div>
</article>

<!-- CTA Section -->
{% if page.extra.cta and page.extra.cta.enabled %} {% set cta = page.extra.cta
%} {% include "partials/cta.html" %} {% endif %} {% endblock %}
